<div *ngIf="isLoading" class="spinner-container">
  <div class="overlay"></div>
  <div class="d-flex spinner justify-content-center">
    <div class="spinner-border" role="status"></div>
  </div>
</div>
<div class="list-container container">
  <csp-search
    *ngIf="orignalFilteredPatients.length > 0"
    [(searchData)]="filteredPatients"
    [clonedData]="orignalFilteredPatients"
    [searchParam]="'full_name'"
    [searchText]="'Search for Patients By Name, Id or Email'"
  ></csp-search>
  <div class="filter-container">
    <csp-filters
      [retainedFilter]="filterAgeValue"
      [filtersArray]="filterByAgeData"
      (filtersValue)="handleFilterValue($event)"
      [filterCriteria]="'Age'"
    ></csp-filters>
    <csp-filters
      [retainedFilter]="filterGenderValue"
      [filtersArray]="filterByGenderData"
      (filtersValue)="handleFilterValue($event)"
      [filterCriteria]="'Gender'"
    ></csp-filters>
    <csp-filters
      [retainedFilter]="filterSortValue"
      [filtersArray]="filterForSortingData"
      (filtersValue)="handleFilterValue($event)"
      [filterCriteria]="'Sorting'"
    ></csp-filters>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">ID</th>
        </tr>
      </thead>
      <csp-error
        *ngIf="filteredPatients.length === 0; else patientTable"
        [errorText]="errorText"
      >
      </csp-error>
      <ng-template #patientTable>
        <tbody
          *ngFor="
            let patient of patientsShown | sort : sortingOrder : 'full_name';
            let index = index
          "
        >
          <tr routerLink="/patient-details/" [queryParams]="{ id: patient.id }">
            <td scope="row">{{ index + 1 + (activePage - 1) * pageSize }}</td>
            <!-- as index starts from zero -->
            <td>{{ patient.full_name }}</td>
            <td>{{ patient.id }}</td>
          </tr>
        </tbody>
      </ng-template>
    </table>
  </div>
  <div class="pagination-container">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <div class="float-right">
          <csp-pagination
            [totalRecords]="filteredPatients.length"
            [recordsPerPage]="pageSize"
            (onPageChange)="paginationHelper($event)"
          ></csp-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
